/* HIDE TABLET & MOBILE IMAGE */
img.tablet,
img.mobile {
  display: none;
}

/* DESKTOP */
mark.orange {
  background: none;
  color: #d87d4a;
}

section.best-gear-container {
  display: grid;
  grid-template-columns: 1f 1fr;
  grid-template-rows: 1fr 1fr;

  margin: 0px 165px;
  padding-top: 100px;
  gap: 0px 120px;
}

/* IMAGE */
.best-gear-container img {
  grid-column: 2/3;
  grid-row: 1/3;
  border-radius: 8px;
}
img.desktop {
  display: block;
}

.paragraph-container {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
}

.paragraph-container h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 25px;
}
.paragraph-container p {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5rem;
}

/* TABLET */

@media only screen and (max-width: 768px) {
  img.desktop {
    display: none;
  }
  img.tablet {
    display: block;
    justify-self: center;
  }
  section.best-gear-container {
    margin: 0px 40px;
  }

  .best-gear-container img {
    grid-column: 1/3;
    grid-row: 1/2;
    max-width: 689px;
  }

  .paragraph-container {
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 0px 100px;
    justify-self: center;
  }
}

/* MOBILE */
@media only screen and (max-width: 425px) {
  img.tablet {
    display: none;
  }
  img.mobile {
    display: block;
    max-width: 352px;
    justify-self: center;
  }

  section.best-gear-container {
    margin: 0px 25px;
    grid-template-rows: 300px auto;
    max-width: 100vw;
    gap: 0px;
  }

  .paragraph-container {
    padding: 0px 0px;
    justify-self: center;
  }
}
